* {
	margin: 0;
    padding:0;
    box-sizing: border-box;
	
}
body {
	min-height: 100vh;
	min-width: 100vw;
	overflow-x: hidden;
    line-height: 1.4;
    font-family: 'Lato', sans-serif;
    height: 100%;
}

.navbar a {
	color: white !important;
}



.navbar-brand {
	font-weight:bold;
}

footer {
	background: #2c3645; 
	padding-top: 5px;
	color: white;
}

.img-foot img {
	width: 30px;
	height: 30px;
}

.footer-contact input{
  	margin: 8px 0;
  	border: deepskyblue;
  	border-radius: 8px;
  	padding: 10px 20px;
  	font-family: serif;
}

.footer-contact input[type=submit]{
	background:deepskyblue;
  	border: none;
  	border-radius: 8px;
  	color: white;
  	cursor: pointer;
}



#alert {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 10px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
	border-radius: 5px;
	}

#alert.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@media screen and (max-width: 500px) {
body {
	min-height: 100vh;
	min-width: 100vw;
	 
}

}
/*New UPDATE STARTS FROM HERE (ACHILLIS CODE)
*/

ul{
    list-style: none;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}
.navbar__contents, .navbar__items{
    display: flex;
    justify-content: space-between;
    align-items: center !important;
}
.navbar__items li a{
    padding-left: 2.5rem;
    text-decoration: none;
    color:#4A5254;
}
.dashboard__wrapper{
    display: grid;
    grid-template-columns: 300px 1fr;
    /* grid-gap: 20px; */
    
}.dashboard__left{
    background: #BFEEF7;
    color:#4A5254;
    
    padding-top: 3rem;
}
.dashboard__left ul li{
    display: block;
    width: 100%;
    /* background: red; */
    margin: .3rem 0;
    padding: .8rem 3rem;
}
.dashboard__left ul li:first-child{
    background: #fafafa;
}
.dashboard__left ul li:hover{
    background: #fafafa;
    transition: all ease-in-out .5s;
}
.dashboard__left ul li a{
    font-weight: bold;
    text-decoration: none;
    color:#4A5254;
    font-size: .9rem;
}
.profile-img{
    border-radius: 50%;
    width: 120px;
    height: auto;
    margin: 0 5rem;
    padding-bottom: 1rem;
}
.top__wrapper{
    display: flex;
    justify-content: space-between;
    background: #e8e8e8;
    padding: .08rem 0;
}
.serach__form{
    background: #fafafa;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    padding: .8rem 2rem;
}
.serach__form input[type=text]{
    max-width: 500px;
    border:none;
    background:transparent;
    outline: none;
    font-size: 1.1rem;
    color:#4A5254;
}
.fa-search{
    color:#4A5254;
    padding-right: 1rem;
    padding-top: .3rem;
    font-size: 1.4rem;
}
.top__right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}
.top__right a{
    text-decoration: none;
    font-size: .9rem;
    background: deepskyblue;
    padding: .6rem 2rem;
    font-weight: bold;
    color:#fff;
    border-radius: 4px;
}
    
    .dashboard__right__contents{
        margin: 2rem;
        height: 100%;
    }
    .openbars{
        display: none;
    }
    .dashboard__right__contents h3{
        padding-bottom: .5rem;
        color:#4A5254;
    }
    .dashboard__btn{
        background: deepskyblue;
        padding: 1rem 3rem;
        text-decoration: none;
        border:none;
        cursor: pointer;
        color:#333;

        font-weight: bold;
        border-radius: 4px;
        margin-bottom: 25rem;
    }
    small{
        color:#4A5254;
        font-weight: bold;
        opacity: .8;
    }
    .financial__info{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 30px;
        margin-top: 3rem;
    }
    .financial__card{
        padding:2.5rem 3rem;
        box-shadow: 0px 0px 3px rgba(0,0,0,.17);
        background: #fafafa;
        border-radius: 4px;
    }
    .financial__card h4{
        padding-bottom: .7rem;
        color:#4A5254;
    }
    .financial__card p{
        color:#4A5254;
    }

    /*ASSETS*/
    .assets__wrapper{
        margin: 2rem;
    }
    .assets__wrapper h3{
        padding-bottom: .5rem;
        color:#4A5254;
    }
    .assets__card{
        max-width: 600px;
        margin-top: 3rem;
    }
    .assets__contents, .liability__contents{
        display: flex;
        justify-content: space-between;
    }
    .assets__contents h5, .liability__contents h5{
        color:#4A5254;
        padding-bottom: 1rem;
    }
    .assets__contents input[type=text], .liability__contents input[type=text]{
        margin-bottom: .7rem;
        height: 2.3rem;
        outline: none;
        padding: 1rem 1rem;
        color:#4A5254;
    }
    .calculate__btn, .liabilities__btn{
        background: deepskyblue;
        border:none;
        padding: .6rem 3rem;
        cursor: pointer;
        color:#fff;
        font-weight: bold;
        font-size: .9rem;
    }

    /*LIABILITIES*/
    .liabilities__wrapper, .networth__wrapper{
        margin: 2rem;
    }
    .liabilities__wrapper h3, .networth__wrapper h3{
        padding-bottom: .5rem;
        color:#4A5254;
    }
    .liabilities__card, .worth__contents{
        max-width: 600px;
        margin-top: 3rem;
    }

    /*NETWORTH CALCULATOR*/
    .networth__wrapper h3{
        padding-top: .7rem;
        color:#4A5254;
    }
    .networth__content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        grid-gap: 20px;
        margin-top: 2rem;
    }
    .assets__form{
        border-right: 1px solid #4A5254;
        /* height: 50%; */
    }
    .assets__form input, .liability__form input{
        width: 95%;
        padding: 1rem .5rem;
        outline: none;
        margin-bottom: 1rem;
        margin-top: .2rem;
        border:1px solid deepskyblue;
        border-radius: 4px;
    }
    .assets__form input, .liability__form input::placeholder{
        color:#4A5254;
    }
    label{
        font-weight: normal;
        color:#4A5254;
    }
    .total__input{
        background: deepskyblue;
        border:0px;
    }
    .result{
        margin-top: 2rem;
    }
    .result h4{
        color: deepskyblue;
        font-weight: bold;
        padding-bottom: .53rem;
    }
    .result p{
        color:#4A5254;
    }


    /*MEDIA QUERIES*/
    @media only screen and (max-width: 990px){
        .dashboard__wrapper{
            background: #f4f4f4;
            grid-template-columns: 1fr;
        }
       .dashboard__left{
           display: none;
           position: absolute;
           z-index: 200;
           width: 70%;
           top: 6.4%;
           height: 100%;
       } 
       .serach__form{
           visibility: hidden;
       }
       .top__wrapper{
           width: 100% !important;
           justify-content: space-between;
       }
       .serach__form{
        max-width: 10px;
    }
    .top__right{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .financial__info{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 30px;
        margin-top: 3rem;
    }
    .top__right a{
        padding: .6rem .8rem;
    }
    .dashboard__right__contents{
        margin: 2rem;
    }
    .networth__content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        margin-top: 2rem;
    }
    .assets__form{
        border-right: none;
    }
    .dashboard__right__contents h3{
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .financial__card{
        padding:2rem 3rem;
    }
    .profile-img{
        width: 90px;
    }
    .openbars{
        cursor: pointer !important;
        color:#4A5254;
        font-size: 1.2rem;
        display: block;
    }
    .hide__sidebar{
        display: none !important;
    }
    .liabilities__wrapper, .networth__wrapper{
        height: 100%;
    }
    }